
input:focus{
  outline: none !important;
  border-color: #719ece !important;
  box-shadow: 0 0 10px #719ece !important;
  border-radius: 5px;
}
input{
  
  border-radius: 5px;
  outline: none !important;
  border: 1px solid;
  border-color: rgb(189, 188, 188) !important;
  border-style: solid !important;
}

