.googleButton {
  background-color: #fff;
  color: black !important;
  box-shadow: none !important;
  border-radius: 20px;
  margin-bottom: 8%;
}
.googleButton div {
  /* display: none !important; */
  border-radius: 20px !important;
  height: 40px !important;
}
.divider {
  margin: 8% !important;
}

.loginParent {
  margin-top: 10% !important;
}

