.googleButton {
  background-color: #fff;
  color: black !important;
  box-shadow: none !important;
  border-radius: 20px;
  margin-bottom: 8%;
}
.googleButton div {
  /* display: none !important; */
  border-radius: 20px !important;
  height: 40px !important;
}
.divider {
  margin: 8% !important;
}

.loginParent {
  margin-top: 10% !important;
}
.loginBack {
  background: url(http://qexal.react.themesbrand.com/static/media/auth-bg.f79ba80d.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-top: 0px;
  top: 0%;
  background-position: 50% !important;
}
